body
{
    background-color: #eaeaea;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/*Navbar*/

.navbar
{
    overflow: hide;
    background-color:#353a40;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a
{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17;
}

.navbar a:hover 
{
    background: #ddd;
    color: black;
}

.main 
{
    padding: 16px;
    margin-top: 3%;
    height: 1500px;
}

.selecionado
{
	color: red;
}
/*Cartão de identificação*/

 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40em;
  height: 18em;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}

.card {
  display: flex;
  color: #343434;
}
.card__img img {
  max-width: auto;
  max-height: 18em;
}
.card__profile {
  margin: 2em 0 3em 2em;
}
.card__profile .title {
  margin-bottom: 1em;
}
.card__profile .title h1 {
  font-size: 2.2em;
}
.card__profile .title p {
  margin-top: 0.5em;
  font-size: 1em;
}
.card__profile .subhead {
  width: 20em;
  display: flex;
  justify-content: space-between;
  font-size: 0.85em;
  color: #777;
}
.card__profile .content {
  padding: 2em 2em 0 0;
  width: 20em;
  font-size: 0.9em;
}
.card__links {
  height: 18em;
  width: 6.6666666667em;
  margin-left: auto;
}
.card__links a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.6em;
}
.card__links .link:nth-child(1) {
  height: 25%;
  background: #1da1f2;
}
.card__links .link:nth-child(2) {
  height: 25%;
  background: #333;
}
.card__links .link:nth-child(3) {
  height: 25%;
  background: #0077b5;
}
.card__links .link:nth-child(4) {
  height: 25%;
  background: #ea4335;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: width 300ms ease;
}
.link:hover {
  width: 120%;
}

@media screen and (max-width: 480px) {
  * {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
  }

  .container {
    width: 13.3333333333em;
    height: 36em;
  }

  .card {
    display: flex;
    flex-direction: column;
  }
  .card__img img {
    width: 100%;
    height: auto;
  }
  .card__profile {
    display: block;
    padding: 0;
    margin: 0;
  }
  .card__profile .title h1 {
    font-size: 2em;
  }
  .card__profile .title p {
    font-size: 0.8em;
  }
  .card__profile .subhead {
    display: block;
  }
  .card__profile .subhead small {
    font-size: 0.75em;
    display: block;
  }
  .card__profile .subhead small:nth-child(2) {
    margin-top: 0.6em;
  }
  .card__profile .content {
    width: 100%;
    padding: 0;
    margin: 1em 0 0 0;
  }
  .card__links {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: flex-end;
    width: 13.3333333333em;
  }
  .card__links a {
    font-size: 1em;
    padding: 1em;
  }
  .card__links .link:nth-child(1) {
    width: 25%;
    height: 100%;
    background: #1da1f2;
  }
  .card__links .link:nth-child(2) {
    width: 25%;
    height: 100%;
    background: #333;
  }
  .card__links .link:nth-child(3) {
    width: 25%;
    height: 100%;
    background: #0077b5;
  }
  .card__links .link:nth-child(4) {
    width: 25%;
    height: 100%;
    background: #ea4335;
  }
}

/*contact form*/

#bodyy {
  background-color: #e6e6e6;
  font-size: 100%;
  font-weight: 400;
}

div, textarea, input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contenar {
  max-width: 510px;
  min-width: 324px;
  margin: 50px auto 0px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-bottom: 3px solid #ccc;
}

.row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
}
.row.header {
  padding: 1.5em 2.5em;
  border-bottom: 1px solid grey;
  /*background: url(https://www.rostos.pt/paginas/imagens/semanal/7/73380.jpg) left -80px repeat no-repeat;*/
  color: #fff;
}
.row.body {
  padding: .5em 2.5em 1em;
}

.pull-right {
  float: right;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: inline-block;
  font-weight: 100;
  font-size: 2.8125em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  margin: 1em 0 0.4em 0;
}

.btn {
  font-size: 1.0625em;
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: #fff;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  background-color: #b3b3b3;
  border-bottom-color: #8c8c8c;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.btn:hover {
  background-color: #bfbfbf;
}
.btn.btn-submit {
  background-color: #4f6fad;
  border-bottom-color: #374d78;
}
.btn.btn-submit:hover {
  background-color: #5f7db6;
}

form {
  max-width: 100%;
  display: block;
}
form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
form ul li {
  margin: 0 0 0.25em 0;
  clear: both;
  display: inline-block;
  width: 100%;
}
form ul li:last-child {
  margin: 0;
}
form ul li p {
  margin: 0;
  padding: 0;
  float: left;
}
form ul li p.right {
  float: right;
}
form ul li .divider {
  margin: 0.5em 0 0.5em 0;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #4f6fad;
  background-image: linear-gradient(to right, #ee9cb4, #4f6fad);
}
form ul li .req {
  color: #ee9cb4;
}
form label {
  display: block;
  margin: 0 0 0.5em 0;
  color: #4f6fad;
  font-size: 1em;
}
form input {
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  padding: 6px 10px;
  color: #555;
  font-size: 1em;
}
form textarea {
  border: 1px solid #ccc;
  padding: 6px 10px;
  width: 100%;
  color: #555;
}
form small {
  color: #4f6fad;
  margin: 0 0 0 0.5em;
}

@media only screen and (max-width: 480px) {
  .pull-right {
    float: none;
  }

  input {
    width: 100%;
  }

  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }

  li, p {
    width: 100%;
  }

  input.btn {
    margin: 1.5em 0 0.5em;
  }

  h1 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.125em;
  }

  li small {
    display: none;
  }
}
